DB_CONNECTION_STRING=mongodb://elusaisoares:elusai1234@ac-jyh1a2z-shard-00-00.p26oh21.mongodb.net:27017,ac-jyh1a2z-shard-00-01.p26oh21.mongodb.net:27017,ac-jyh1a2z-shard-00-02.p26oh21.mongodb.net:27017/spacejam?ssl=true&replicaSet=atlas-q32zzs-shard-0&authSource=admin&appName=Cluster0